# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.PlateFinder.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pairs\RiderProjects\PlateFinder\.idea\.idea.PlateFinder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
